body{
    background-color: rgb(192, 67, 67);
}
.jumb{
    width: 160px;
    background-color: rgb(10, 76, 138);
    height: 400px;
    border-radius: 20px;
}
#sup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#suup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}